@font-face {
    font-family: pokeFont;
    src: url("/style/PKMN\ RBYGSC.ttf") format("truetype");
}

html {
    font-family: pokeFont, Arial, Helvetica, sans-serif;
}

.builder-container {
    display: flex;
}

.selector-container {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0.25em;
    max-width: 250px;
    padding: 0.25em;
}

.heading {
    font-size: medium;
    text-align: center;
}

.team-container { 
    display: grid;
    grid-template-columns: 325px 325px 325px;
    grid-template-rows: 150px 150px;
}

.team-slot {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0.25em;
}


.team-slot--imageGroup {
    margin: 0;
    margin-left: 1em;    
}

.team-slot--moveList {
    list-style: none;
    margin: 0;
    margin-top: 1em;
    line-height: 1.5em;
    font-size: 14px;
}

